.cell{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    overflow: hidden;
}
p{
    line-height: 30px;
}
.user_img{
    border-radius: 3px;
    margin-right: 5px;
}
.purple_font{
    color: #9e78c0;
    font-size: 14px;
    margin-left: 10px;
}
.gray_font{
    color: #b4b4b4;
    font-size: 10px;
    margin-right: 15px;
}
.good_green{
    background-color: #80bd01;
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px;
}
.black_title{
    max-width: 71.5%;
    white-space: nowrap;
    color: #333;
    font-size: 16px;
    margin-left: 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.right_img{
    float: right;
}
.right_img img{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}
.update_time{
    text-align: right;
    min-width: 50px;
    display: inline-block;
    white-space: nowrap;
}


.innerpage{
    height: 40px;
    margin: 10px 0 0 10px;
}
.innerpage ol{
    padding: 0;
    margin: 0 0 10px 25px;
}
.innerpage ol li {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-left-width: 0; */
}

.innerpage ol li a{
    color: #778087;
    cursor: pointer;
}
