.home_second{
    width: 100%;
    height: 30%;
    padding: 3% 3%;
}
.second_inner{
    height: 100%;
    position: relative;
}
.second_inner img{
    width: 100%;
    height: auto;

}  
.second_shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    background-color:rgba(57,57,61,0.6);
    text-align: center;
    padding-top: 40%;
    color: #fff;
    font-size: 4vw;
}
.home_third{
    padding-top: 0.1%;
    background: #fff;
    margin:0;
}
.home_third p{
    border-left: 3px solid #3fcccb;
    margin-left: 0;
    padding-left: 3%;
    font-size: 5vw;
}
.third_img{
    position: relative;
    height: auto;
    margin:0;
}
.third_img img{
    width: 100%;
    height: 100%;
}
.third_shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    background-color:rgba(57, 57, 61, 0.6);
    text-align: center;
    padding-top: 60%;
    color: #fff;
    font-size: 3.6vw;
}
